* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add border styles to the .heads section */
.heads {
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    transition: top 0.3s, display 0.3s ease;
    background-color: #333;
    border-bottom: 2px solid #fff; /* Add this line for the border */
}

/* Other styles remain unchanged */


nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-width: 220px;
    max-height: auto;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul {
    list-style: none;
    margin: 0;
}

.nav-links ul li {
    display: inline-block;
    margin-left: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    display: inline-block;
}

.about-us {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.about-us-content {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.about-us-image-container {
    flex: 1;
    margin-right: 20px;
}

.about-us-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.about-us-text-container {
    flex: 1;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
}

.about-us-text-container h2 {
    color: #333;
}

.about-us-text-container p {
    color: #666;
    margin-bottom: 20px;
}

.whatsapp-floating-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-floating-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.whatsapp-floating-icon:hover img {
    transform: scale(1.1);
}

/* ... (Remaining CSS styles remain unchanged) ... */


.footer {
    text-align: center;
    color: #fff;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1 1 calc(25% - 2em);
    padding: 0 1em;
    margin-bottom: 1px;
    box-sizing: border-box;
}

.footer-section h4 {
    color: #fff;
}

.footer-section p {
    color: #fff;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
}

.copyright p {
    margin: 0;
}

.copyright a {
    color: #fff;
    text-decoration: underline;
}
